/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.container {
    margin-top: 50px;
}

.sidenav .closebtn:hover {
    color: red
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.nav-item.menu-item,
.nav-item.dropdown {
    font-family: "Montserrat";
    font-size: 18px;
    padding: 10px;
}

.fa {
    margin-right: 5px;
    font-size: 22px
}

.navbar-nav.ml-auto {
    margin-right: 60px !important;
}

.navbar-nav.mr-auto {
    margin-left: 60px !important;
}

@media screen and (min-width: 1200px) {
    .navbar-brand {
        padding-left: 100px;
    }
}

input {
    height: auto !important;
}